<div class="driverlogin forms">
    <form action="/logincheckdriver" method="POST">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="floatingInput" placeholder="123456789012" min="111111111111" max="999999999999">
            <label for="floatingInput">Aadhar Number</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>

          <br>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Login</button>
            <br>
            <button class="btn btn-secondary" type="button"><a href="/driverregister" style="text-decoration: none; color: white;">Register</a></button>
          </div>
    </form>
</div>  