<form class="row g-3 forms">
    <div class="col-md-6">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="inputfirstname">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-12">
        <label for="aadhar number" class="form-label">Aadhar Number</label>
        <input type="number" class="form-control" id="inputaadharnumber">
      </div>
      <div class="col-md-6">
        <label for="contactnumber" class="form-label">Contact Number</label>
        <input type="number" class="form-control" id="inputage">
      </div>
    <div class="col-md-4">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="inputage">
      </div>
      <div class="col-md-2">
        <label for="inputgender" class="form-label">Gender</label>
        <select id="inputgender" class="form-select">
          <option selected>Choose...</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Maharashtra</option>
        <option>U.P</option>
        <option>Gujrat</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="inputusername">
      </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>  
        <div class="col-md-4">
            <label for="inputState" class="form-label">What do you drive?</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>Car</option>
              <option>Truck</option>
              <option>Bus</option>
            </select>
          </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>