<div class="index">
    <p>Are you a...</p>
    <div class="index-buttons">
        <a href="/passengerlogin"><button type="button" class="btn btn-primary btn-lg">Passenger</button></a>
        <a href="/driverlogin"><button type="button" class="btn btn-primary btn-lg">Driver</button></a>    
    </div>
</div>  
