<form class="row g-3 forms" action="/registercheckpassenger" method="POST">
    <div class="col-md-12">
      <label for="firstname" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputfirstname">
    </div>
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="col-md-12">
        <label for="aadhar number" class="form-label">Aadhar Number</label>
        <input type="number" class="form-control" id="inputaadharnumber">
      </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>